/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  Styles */
.site-title-container {
  width: 100%;
  background: #444;
}
.site-title {
  color: #fff;
  padding: 1em 0;
  d
}
.site-title-container .container {
  position: relative;
}
.feedback-survey {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  text-decoration: underline;
}
h3 {
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 1.3em;
}
h4 {
  font-weight: 700;
}
body {
  line-height: 1.4;
}
p {
  margin-bottom: 2em;
}
body,
a {
 font-family: "Open Sans";
 color: #444;
 text-decoration: none;
}
a {
  text-decoration: underline;
}
body {
  background: #efefef;
  font-weight: 400;
  font-size: 1em;
}
header {
	background: #d3d3d3;
}
input,
select {
	border: solid 1px #444;
	padding: 0.6em 0.8em;
	font-size: 1em;
	border-radius: 0;
	background: white;
  margin: 0;
}
.container {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 1em;
}

/*
	Search
*/
form input {
  box-sizing: border-box;
}
.search form > div {
  position: relative;
  margin-right: 8rem; /* same with `button width` + `button distance from search field` */
  padding-right: 12em;
}
.search {
  padding: 2em 0;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
}
.search form {
  text-align: center;
}
.search input[type='text'] {
  display: block;
  width: 100%;
}
.search input[type='submit'] {
	background: #444;
	color: #fff;
  display: block;
  width: 8rem; /* this is the `button width` */
  position: absolute;
  top: 0;
  left: 100%; /* push to the right! */
}
.search select {
  display: block;
  position: absolute;
  width: 12.5em;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search select.fields {
	background-image: url("../img/arrow-triangle-down.png");
  background-position: 96% center;
  background-position: top 0.7em right 0.5em;
  background-repeat: no-repeat;
  border-right: none;
  min-width: 24%;
}
@media (max-width: 50em) {
  .search {
    width: 100%;
  }
  .search form > div {
    padding: 0;
    margin: 0;
  }
  .search form > div,
  .search.input[type='text'],
  .search input[type='submit'],
  .search select {
    position: inherit;
    width: 100%;
  }
  .search select.fields {
    border: solid 1px #666;
    margin: 0.5em 0;
  }
}
/*
	Data Stores
*/
.searchables {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1rem;
}
.searchables li {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
}
.selected {
  background: #444;
  color: white;
}
/*
	Search Results
*/
.search-results-container {

}
.search-items {
  list-style: none;
  background: #fff;
}
.search-info,
.item,
.search-details {
  padding: 2em;
  border-bottom: solid 1px #efefef;
  background: #fff;
}
.item,
.search-details {
  overflow: hidden;
  line-height: 1.4;
}
.search-details {
  margin-bottom: 0;
}
.item dt {
  float: left;
  clear: left;
  width: 8em;
  text-align: right;
  font-weight: bold;
}
.item dt:after {
  content: ":";
}
.item dd {
  margin: 0 0 0 8.5em;
  padding: 0 0 0.5em 0;
  word-break: break-all;
}
@media (max-width: 50em) {
  .item dd {
    margin: 0;
  }
  .item dt {
    float: none;
    text-align: left;
    width: auto;
  }
}
/*
  Multisearch Results
*/
.multisearch h2 {
  background: #444;
  color: #fff;
  padding: 1em;
  font-size: 1.4em;
  font-weight: 700;
}
.multisearch h2:not(:first-child) {
  margin-top: 2em;
}
.multisearch dd {
  margin: 0;
}
.multisearch dt {
  float: none;
  text-align: left;
  width: auto;
}



main,
aside {
  margin-bottom: 2em;
}
aside {
	width: 18%;
	float: left;
}
main {
	width: 79%;
	float: right;
}
@media (max-width: 50em) {
  aside,
  main {
  	width: auto;
  	float: none;
  }
  input[type='text'] {
  	width: auto;
  }
}
.message-info,
.message-success,
.message-warning,
.message-error {
  position: relative;
  text-align: center;
  padding: 1em 4em;
  line-height: 1.4;
  color: #444;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.message-info {
  background-color: #BDE5F8;
}
.message-success {
  background-color: #DFF2BF;
}
.message-warning {
  background-color: #FEEFB3;
}
.message-error {
  background-color: #FFBABA;
}
.message-close {
  position: absolute;
  padding: 1em;
  right: 1em;
  top: 0;
  cursor: pointer;
}
.pagination {
  text-align: center;
  margin-bottom: 2em;
}
.pagination li {
  display: inline-block;
}
.pagination a {
  padding: 0.4em 0.6em;
  text-decoration: none;
}
button {
  display: inline-block;
  background: #444;
  color: #fff;
  padding: 0.3rem 0.6rem;
  margin: 0 0.6rem;
  cursor: pointer;
}
.hide {
  display: none;
}
.placeholder {
  display: block;
  width: 100%;
  background-color: #efefef; 
  min-height: 1.75em;
}
.placeholder.tall {
  min-height: 3em;
}
.placeholder:not(:last-child) {
  margin-bottom: 1em;
}
.placeholder:first-child {
  width: 75%;
}
.no-results {
  display: block;
  padding: 0.4em 0.6em;
  text-align: center;
  margin-bottom: 2em;
}
b {
  font-weight: bold;
}

/*
  Bento Box / Multisearch
*/
.multisearch {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem 0 0 -1rem;
}

.multisearch .datastore {
  display: inline-block;
  flex-grow: 1;
  margin: 1rem 0 0 1rem;
  width: calc(100% * (1/2) - 1rem);
}

/*
  Facet list
*/
.facet {
  margin-bottom: 1rem;
}

.facet h4 {
  padding: 0.3rem 0.6rem;
}

.facet li {
  position: relative;
}

.facet .facet-details {
  padding: 0.3rem 0.6rem;
  padding-right: 2rem;
  cursor: pointer;
}

.deselect-facet {
  position: absolute;
  top: 0.3rem;
  right: 0.6rem;
  color: white;
  cursor: pointer;
}

.loading {
  text-align: center;
  padding: 1rem;
}