body,
html,
ul {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	font-weight: 700;
}

body {
	font-family: "Open Sans";
	color: #333;
	background: #efefef;
	font-weight: 400;
	font-size: 1em;
}
header {
	background: #d3d3d3;
}
input {
	border: solid 1px #666;
	padding: 0.5em;
	font-size: 1em;
}
.container {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 1em;
}

/*
	Search
*/
.search {
	margin: 0 auto;
	padding: 2em 0;
	margin-bottom: 2em;
}
form {
	text-align: center;
}
input[type='text'] {
	width: 40%;
}
input[type='submit'] {
	background: #444;
	color: #fff;
}

/*
	Data Stores
*/
.datastores {
	padding: 0;
	margin: 0;
	list-style: none;
}
.datastores li {
	margin-bottom: 0.5em;
	text-decoration: underline;
	cursor: pointer;
}

/*
	Search Results
*/
.items {
	padding: 0;
	list-style: none;
}

.item,
.search-info {
	background: #fff;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

dt {
	font-weight: 700;
}

aside {
	width: 20%;
	float: left;
}
main {
	width: 80%;
	float: right;
}

@media (max-width: 50em) {
  aside,
  main {
  	width: auto;
  	float: none;
  }
  input[type='text'] {
  	width: auto;
  }
}