body,
html,
ul {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	font-weight: 700;
}

body,
a {
	font-family: "Open Sans";
	color: #333;
}
body {
    background: #efefef;
    font-weight: 400;
    font-size: 1em;
}
header {
	background: #d3d3d3;
}
input,
select {
	border: solid 1px #666;
	padding: 0.6em 0.8em;
	font-size: 1em;
	border-radius: 0;
	background: white;
}
.container {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 1em;
}

/*
	Search
*/
form input {
    box-sizing: border-box;
}
.search form > div {
  position: relative;
  margin-right: 6em; /* same with `button width` + `button distance from search field` */
  padding-right: 8em;
}
.search {
    width: 80%;
	padding: 2em 0;
	margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
}
.search form {
	text-align: center;
}
.search input[type='text'] {
    display: block;
	width: 100%;
}
.search input[type='submit'] {
	background: #444;
	color: #fff;
    display: block;
    width: 6em; /* this is the `button width` */
    position: absolute;
    top: 0;
    left: 100%; /* push to the right! */
}
.search select {
    display: block;
    position: absolute;
    width: 8em;
    top: 0;
    right: 0;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search select.fields {
	background-image: url("../img/arrow-triangle-down.png");
    background-position: 96% center;
    background-position: top 0.7em right 0.5em;
    background-repeat: no-repeat;
	border-left: none;
	border-right: none;
	min-width: 16%;
}

/*
	Data Stores
*/
.datastores {
	padding: 0;
	margin: 0;
	list-style: none;
}
.datastores li {
	margin-bottom: 0.5em;
	text-decoration: underline;
	cursor: pointer;
}

/*
	Search Results
*/
.search-results-container {
    margin-bottom: 2em;
}

.search-items {
	list-style: none;
}

.item,
.search-info {
	background: #fff;
	padding: 2em;
}

.item {
    padding-top: 0;
}

dt {
	font-weight: 700;
}

aside {
	width: 20%;
	float: left;
}
main {
	width: 80%;
	float: right;
}

@media (max-width: 50em) {
  aside,
  main {
  	width: auto;
  	float: none;
  }
  input[type='text'] {
  	width: auto;
  }
}
.message-info,
.message-success,
.message-warning,
.message-error {
    position: relative;
    text-align: center;
    padding: 1em;
    color: #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.message-info {
    background-color: #BDE5F8;
}
.message-success {
    background-color: #DFF2BF;
}
.message-warning {
    background-color: #FEEFB3;
}
.message-error {
    background-color: #FFBABA;
}
.message-close {
    position: absolute;
    padding: 1em;
    right: 1em;
    top: 0;
    cursor: pointer;
}

.placeholder {
  display: block;
  width: 100%;
  background-color: #333;
}